#user-avatar {
  max-width: 200px;
  max-height: 200px;
}
#upper-header {
  min-height: 64px;
}
#bottom-header > div > ul {
  min-height: 40px;
}
#map {
  height: 700px;
}
#content{
  height: calc(100vh - 104px);
}
#spinner {
  width: 100px;
  height: 100px;
  display:none;
}
#offcanvasResponsive {
  min-width: 300px;
}
article > div > img {
  max-height: 200px;
}
article > div > h6 {
  font-size: 80px;
}
@media screen and (min-width: 992px) {

  #spinner {
  width: 200px;
  height: 200px;
}