@import "../components/activity/block.css";
@import "../components/activity/user_info.css";
@import "../components/activity/user_nav.css";
@import "../components/activity/user_notes.css";
main {
  display: grid;
  grid-template-columns: 1fr max(400px);
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
  margin: 40px;
  grid-template-areas:
    "activity-main user-info"
    "activity-main user-nav"
    "activity-main user-notes";
}
.activity-main {
  grid-area: activity-main;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
