.article-long {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    padding: 2rem;
  }
  .article-long figure {
    margin:0;
  }
  .article-long > * {
    margin-bottom: 2rem;
  }
  .article-long__author {
    display: flex;
    align-items: center;
  }

  .article__details {
    display: flex;
    gap: 1rem;
  }
  
  .article-short  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--secondary-color);
      box-shadow: var(--box-shadow);
      padding: 1rem 2rem 1rem 2rem;
  }
  .article-short h4 {
      font-size: var(--big-font-size);
      margin:0;
      font-weight: normal;
  }