.user-nav {
    grid-area: user-nav;
    background-color: var(--secondary-color);
    padding: 1rem 2rem 1rem 2rem;
    font-size: var(--big-font-size);
    max-height: 300px;
  }
  .user-nav__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user-nav__title h4 {
    font-weight: normal;
    margin:0;
  }
  .user-nav .user-links,.user-settings {
    margin:0;
    height:auto;
  }

  .user-item span {
    font-size: var(--middle-font-size);
    padding:0;
  }