/*COMMON CLASSES */
.ul-list {
  height: 100%;
  display: inherit;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
}
.ul-list img {
  margin-right: 10px;
}
.ul-list li {
  text-align: center;
  display: flex;
  align-items: center;
  padding:10px;
}
.a-tag {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.header-nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.active {
  background: #f1f1f1;
}
blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  margin: 0;
}
blockquote p:not(:last-child) {
  margin-bottom: 1rem;
}
blockquote p:last-child {
  color: #8f8f8f;
}
.preview-image {
  width: 100%;
  object-fit: cover;
  max-height: 650px;
}
.inline_center {
  display: flex;
  align-items: center;
}
.inline_center  img {
  margin-left: 10px;
}
hr.solid {
  border-top: 1px solid #bbb;

}