#user-avatar {
  max-width: 200px;
  max-height: 200px;
}
#upper-header {
  min-height: 64px;
}
#bottom-header > div > ul {
  min-height: 40px;
}

#map {
 height: 700px;
}
article > img {
  max-height: 650px;
}
