#user-avatar {
  max-width: 200px;
  max-height: 200px;
}
#upper-header {
  height: 64px;
}
#bottom-header {
  height: 40px;
}

#map {
 height: 700px;
}
#spinner {
  height: 200px;
  width: 200px;
}
article > div > img {
  max-height: 200px;
}
article > div > h6 {
  font-size: 80px;
}
